<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Change star color
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Star Color</ion-label>
    <ion-select [(ngModel)]="sColor" (ionChange)="onColorChange($event)">
      <ion-select-option value="gold">Gold</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="blue">Blue</ion-select-option>
      <ion-select-option value="purple">Purple</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
